body {
    background-color: black;
    color: white;
}

.FlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TruckForm{
    
    margin: auto;
    width: 25%;
    background-color: beige;
    color: black;
}

.Truck{
    background-color: white;
}

.NumberInput{
    width: 70px;
}

button{
    width: 100px;

}