*{
    font-family: monospace;
    font-size: large;
}

body {
    /* background-color: black; */
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

img{
    object-fit:fill;
    max-width: 100%;
    max-height: 100%;
}


.NumberInput{
    width: 70px;
}

button{
    width: 100px;

}

/* nav */

nav{
  width: 100%;
  color: white;
  height: 10vh;
  padding: 0;
  margin: 0;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
}

nav li{
    padding: 0;
    margin: 0;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:hover{
    cursor: pointer;
    background-color: darkgray;
}

/* container */

#Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
}

#HallContainer{
    flex-shrink: 5;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
}

#FormContainer{
    flex-shrink: 1;
    flex-grow: 1;
    display: none;
}

/* hall */

assembly-line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
    min-height: 250px;
}

.AssemblyLine{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 50%;
    margin: 0;
    padding: 0;
}

/* package */

package-element{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100px;
    width: 100px;
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: -3px;
}

.packageContainer{
    min-height: 125px;
    max-height: 125px;
    position: relative;
    margin: 0;
    padding: 0;
}

.assemblyImg{
    min-height: 125px;
    max-height: 125px;
    margin: 0;
    padding: 0;
}


/* forms */

.Form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
}

#TruckForm{
    display: none;
}

#AssemblyForm{
    display: none;
}

#LocationForm{
    display: none;
}

/* truck */

.TruckContainer{
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

truck-element{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.truckGrid{
    display: inline-grid;
    position: relative;
    /* bottom: -9.25%;
    left: +5%; */
    background-color: white;
}


.truckGrid span{
    width: 23px;
    aspect-ratio: 1/1;
}

#TruckHallContainer{
    flex-shrink: 5;
    flex-grow: 5;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
}

